@use "base/utility" as u;
@use "base/variables" as v;

body {
  background-color: v.$White;
  font-family: v.$Body-Font;
  color: v.$Very-Dark-Cyan;
}

.main-container {
  @include u.mobile {
    margin: 0 auto 2.5rem;
  }
  @include u.desktop {
    margin: 0 auto 2.5rem;
  }
}

.navbar {
  @include u.mobile {
    @include u.Flex(flex, space-between, center);
    margin: 2rem 2rem;
    padding: 2rem 2rem;
  }
  &__logo {
    @include u.mobile {
      width: 9.5rem;
      height: 1.6rem;
    }
    @include u.desktop {
      width: 24rem;
      height: 3.8rem;
    }
  }
  &__btn {
    background-color: v.$White;
    border: none;
    border: 1px solid v.$Light-Pink;
    border-radius: 5rem;
    color: v.$Light-Pink;
    font-weight: 700;
    display: block;
    @include u.mobile {
      width: 8rem;
      height: 2.4rem;
    }
    @include u.desktop {
      width: 13.4rem;
      height: 4.2rem;
    }
    &:hover {
      background-color: v.$Light-Pink;
      color: v.$White;
      cursor: pointer;
    }
  }
}

.header {
  &__title {
    font-family: v.$Heading-Font;
    text-align: center;
    margin: 0 auto 3.6rem;
    @include u.mobile {
      width: 26.5rem;
      font-size: 1.48em;
    }
    @include u.desktop {
      width: 101rem;
      height: unset;
      font-size: 2.98em;
    }
  }
  &__description {
    text-align: center;
    margin: 0 auto 4.9rem;
    font-weight: 600;
    @include u.mobile {
      font-size: 1em;
      width: 29rem;
    }
    @include u.desktop {
      width: 59rem;
      height: 8rem;
      font-size: 1.25em;
    }
  }
  &__btn {
    background-color: v.$Pink;
    border: none;
    border: 1px solid unset;
    border-radius: 5rem;
    color: v.$Very-Pale-Blue;
    font-weight: 700;
    display: block;
    width: 20rem;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: 8rem;
    &:hover {
      background-color: v.$Light-Pink;
      color: v.$White;
      cursor: pointer;
    }
    @include u.desktop {
      width: 40rem;
      height: 8rem;
      font-size: 1.25em;
    }
  }
  &__img-mockups {
    display: block;
    width: 30rem;
    margin: 0 auto 13.8rem;
    @include u.desktop {
      width: 102rem;
      height: 72.5rem;
    }
  }
}

.section-stats {
  display: flex;
  @include u.mobile {
    background-image: url(unset), url(../images/bg-section-top-mobile-1.svg);
    @include u.Flex(null, null, center, column);
  }
  @include u.desktop {
    background-image: url(unset), url(../images/bg-section-top-desktop-1.svg);
    @include u.Flex(null, space-around, null);
    height: 80rem;
    margin-bottom: 0;
  }
  background-repeat: no-repeat;
  background-position-y: top, bottom;
}

.comunities {
  margin-bottom: 9.8rem;
  @include u.mobile {
    &__logo {
      width: 3.2rem;
    }

    &__stats {
      font-size: 4em;
    }

    &__description {
      font-size: 0.8em;
      text-align: center;
    }
  }
  @include u.desktop {
    &__logo {
      width: 5rem;
    }

    &__stats {
      font-size: 6em;
    }

    &__description {
      font-size: 1.5em;
    }
  }
}
.messages {
  margin-bottom: 9.8rem;
  @include u.mobile {
    &__logo {
      width: 2.4rem;
    }

    &__stats {
      font-size: 4em;
    }

    &__description {
      font-size: 0.8em;
      text-align: center;
      margin: auto;
      width: 6.9rem;
    }
  }
  @include u.desktop {
    &__logo {
      width: 4.2rem;
    }

    &__stats {
      font-size: 6em;
    }

    &__description {
      font-size: 1.5em;
    }
  }
}
.section-grow-together {
  display: flex;
  background-color: v.$Very-Pale-Blue;
  @include u.mobile {
    @include u.Flex(null, null, center, column);
    padding: 18rem 0;
  }
  @include u.desktop {
    @include u.Flex(null, space-around, null, row-reverse);
    height: 80rem;
    margin-bottom: 0;
    width: 100%;
  }
}

.section-flowing-conversations {
  display: flex;
  background-color: v.$Very-Pale-Blue;
  @include u.mobile {
    @include u.Flex(null, null, center, column);
    padding: 18rem 0;
    background-image: url(../images/bg-section-bottom-mobile-1.svg),
      url(../images/bg-section-top-mobile-2.svg);
  }
  @include u.desktop {
    @include u.Flex(null, space-around, null, row);
    height: 80rem;
    margin-bottom: 0;
    width: 100%;
    background-image: url(../images/bg-section-bottom-desktop-1.svg),
      url(../images/bg-section-top-desktop-2.svg);
  }
  background-repeat: no-repeat;
  background-position-y: top, bottom;
}
.section-your-users {
  display: flex;
  background-color: v.$Very-Pale-Blue;
  @include u.mobile {
    @include u.Flex(null, null, center, column);
    padding: 18rem 0;
  }
  @include u.desktop {
    @include u.Flex(null, space-around, null, row-reverse);
    height: 80rem;
    margin-bottom: 0;
    width: 100%;
  }
}

.image-container {
  @include u.mobile {
    &__illustration {
      width: 24.6rem;
      margin-bottom: 7.8rem;
    }
  }
  @include u.desktop {
    &__illustration {
      width: 52.7rem;
      margin-bottom: 7.8rem;
    }
  }
}

.description {
  &__title {
    font-family: v.$Heading-Font;
  }
  @include u.mobile {
    &__title {
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 1.2rem;
    }

    &__content {
      text-align: center;
      font-size: 0.9em;
      width: 33rem;
    }
  }
  @include u.desktop {
    &__title {
      font-size: 2.3em;
      text-align: left;
      margin-bottom: 1.2rem;
    }

    &__content {
      text-align: left;
      font-size: 1em;
      width: 49.5rem;
    }
  }
}

